{% extends "base.html" %}

{% block title %}Index{% endblock title %}
{% block content %}

<div class="col-sm-8">
    <h4 class="d-inline-block">Collections</h4>

    <form method="post" action="{% url 'fetch_characters' %}">
        {% csrf_token %}
        <button type="submit">Fetch and write CSVs to disk</button>
    </form>

    </br>

    <h4>Downloaded files</h4>
    <ul>
        {% for link in links %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
